* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.card {
    background: #fff;
    width: 350px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.555);
    transition: 0.3 ease;
}

.card:hover {
    transform: scale(3.o2);
}

.card-logo {
    width: 60px;
    margin: 20px;
}

.card-photo {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}

.card-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card-subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.card-description {
    font-size: 13px;
    color: #444;
    margin-bottom: 20px;
}

.card-selection {
    margin-bottom: 15px;
}

.options {
    margin-top: 8px;
    display: flex;
    gap: 10px;
}

.size-options button {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.size-options button.active,
.size-options button:hover {
  background: #000000;
  color: white;
  border-color: #ff0000;
}

.color-options .circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
}

.color-options .active {
  border: 2px solid #000;
}

.circle.black { background: #000; }
.circle.red { background: #e74c3c; }
.circle.blue { background: #3498db; }
.circle.white { background: #ecf0f1; }

.card-price {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.buy-now {
    background-color: #000000;
    color: white;
}

.buy-now:hover {
  background-color: #218838;
}

.add-cart {
  background-color: #8e8e8f;
  color: white;
}

.add-cart:hover {
  background-color: #0056b3;
}