body {
    font-family: serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 16px rgb(248, 223, 0);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}