body {
    font-family: serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card {
    background-color: #fff;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 16px rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
}
.card-image {
    width: 100%;
    height: auto;
}

.card-title {
    font-size: 20px;
    margin: 0 0 10px;
}
.card-description {
    font-size: 14px;
    color: #555;
    margin: 0 5px 10px;
}

.card-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.card-btn {
    background-color: #c5ff06;
    color: #000000;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease ;
}

.card-btn:hover {
    background-color: #000000;
    color: #fff;
}